.inputTema {
  font-size: 12px;
  margin-bottom: 24px;
  font-weight: 500;
  display: flex;
  background: #1366f3;
  padding: 8px 16px;
  border-radius: 8px;
  width: max-content;
  color: white;
}

.templateMessages {
  padding: 16px;
  box-shadow: 0px 4px 12px 4px rgb(101 101 101 / 10%);
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: 16px;
  height: 82px;
  font-weight: 600;
  display: flex;
  align-items: center;
  .templateTop {
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
    background: #1366f3;
    width: fit-content;
    padding: 1px 10px;
    border-radius: 4px;
    color: white;
    margin-bottom: 4px;
  }
}
.templateIllustrator {
  width: 50px;
  height: 50px;
  background: rgba(19, 102, 243, 0.231372549);
  border-radius: 6px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #1366f3;
}
