@import "./../../../styles/variables";
$breakpoint-tablet: 768px;
$breakpoint-lg: 992px;

.pageWrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;

  .contentWrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    background-color: $white-primary;

    .dashboardContent {
      height: 100vh;
      padding: 32px 16px;
      padding-bottom: 16px;
      margin-bottom: 24px !important;
      max-width: 500px;
      width: 100%;
      margin: auto;
      overflow-y: scroll;
      // border: 1px solid black;
    }
    .iconFooter {
      width: 100%;
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        margin-top: 8px;
        span {
          margin-left: 8px;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}
